<body>
    <div class="container">
<%- include("partials/header") -%>
<h1>Home</h1> 
<p><%=StartContent %></p>
<% anotherContent.forEach((post)=> { %>
<h1><%= post.title %></h1>
<p><%= post.content.substring(0, 150)+ " ...." %></p>
<a href="/post/<%=post._id%>">Read More</a>
 <hr /><% }) %>
<%- include("partials/footer") -%>
</div>