<%- include("partials/header") -%>
<h1>Home</h1> 
<p><%=StartContent %></p>
<% anotherContent.forEach((article)=> { %>
<h1><%= article.title %></h1>
<p><%= article.content %></p>
 <hr /><% }) %>
<%- include("partials/footer") -%>